@import "/src/configStyle";

.panel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: $gapSmall + px;

  * {
    font-size: 18px;
  }

  @media screen and (max-width: $mobileWidth) {
    flex-direction: column;
    align-items: stretch;
  }
}
